.innerfeature {
   background-color: 'red';
}
.innerdivfeature{
    background-color: 'red';
    color: 'red';
    width: 80%;
}
.outerdiv{
    width: 100%;
    display: flex;
    justify-content: center;
}