.headermain {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    align-items: center;
}
    .fouritems {
    height: 59.2px;
    display: flex;
    align-items: center;
    }
.item {
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.item:hover {
    background-color: lightgray;
}
.leftside{
    font-weight: 500;
    font-size: 20px;
}
.setimage{
    border-radius: 50%;
}
.leftsidediv{
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.rightside{
    padding-right: 20px;
}