.headermain {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    align-items: center;
    height: 60px;
}
.fouritems {
    height: 100%;
    display: flex;
    align-items: center;
    }
.item {
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.item:hover {
    background-color: lightgray;
}
.leftside{
    font-weight: 500;
    font-size: 20px;
}
.setimage{
    border-radius: 50%;
}
.leftsidediv{
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.rightside{
    padding-right: 20px;
    display: flex;
    gap: 10px;
}
.divideritems {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    gap: 0;
}
.itemdivider {
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-left: 10px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.itemdivider:hover {
    background-color: lightgray;
}